{% extends 'base.html' %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-12 text-center mb-4">
            <h1 class="display-4">About Us</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <p class="lead">This is Relationship Banking. We believe that relationships are important and that everyone deserves a great experience throughout their financial journey. Our service is built upon human connection and real, long-standing relationships – whether it's face to face, over the phone, online, or on our App.</p>
            <p class="lead">We're the first new high street bank in over 100 years. Our mark was made in London, but since then we've set up shop all across the capital and beyond.</p>
        </div>
    </div>
</div>
{% endblock %}
